<div class="goalie-cards">
  <section class="goalie-card">
    <h2>Player-Card</h2>
    <p class="team-owner">{{username}}</p>
    <p class="card-score">41</p>
    <p>Name</p>
    {{full_name}}
    <p>Save Percentage</p>
    {{position}}
    <p>Games Played</p>
    <p>Shut Outs</p>
    <p>Total Points</p>
  </section>
</div>