<h1>Player-Card</h1>
<div class="player-cards">
  <section class="player-card">
    <h2>Player-Card</h2>
    <p class="team-owner">{{username}}</p>
    <p class="card-score">41</p>
    <p>Name</p>
    {{full_name}}
    <p>Position</p>
    {{position}}
    <p>Goals</p>
    <p>Assists</p>
    <p>Total Points</p>
  </section>
</div>