<section class="card" id="{{nhl_id}}" onClick="cardSelectHandler(this.id)">
    <h2>{{full_name}}</h2>
    <img src="https://nhl.bamcontent.com/images/headshots/current/168x168/{{nhl_id}}.jpg">
</section>