<section class="card">
    <h2>Fantasy Team Name</h2>
    <p class="team-owner">{{username}}</p>
    <p class="card-score">41</p>
    <p>Player 1: Points</p>
    <p>Player 2: Points</p>
    <p>Player 3: Points</p>
    <p>Player 4: Points</p>
    <p>Player 5: Points</p>
    <p>Player 6: Points</p>
</section>