<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dangles</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
        <header>
            <a href="/">
                 <img src="./images/logo.png" alt="Dangles Logo">
            </a>
            <nav>
                <a href="/">Home</a>
                <a href="/leaderboard">Leaderboard</a>
                {{#if loggedIn}}
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
                {{else}}
                <a href="login">Login/Signup</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            © Dangles 2021. All rights reserved. This site is not affiliated NHL or any of its associates.
        </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>
