<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dangles</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <h1>
            <a href="/"><img src="../../public/images/logo.png"></a>
        </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/">Leaderboard</a>
            {{#if loggedIn}}
            <a href="/">Profile</a>
            <a href="/">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        © Dangles. All rights reserved. This site is not affiliated NHL or any of its associates.
    </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>