{{#if loggedIn}}
<div class="content-block" id="warning-no-team">
    <p>
        Before you start playing and seeing where you rank, make sure to visit your <a href="/profile">Profile Page</a> to
        select the players that will score you big this fantasy season!
    </p>
</div>
{{/if}}
<div class="content-block">
    <p>
        Welcome to <span class="dangles">Dangles</span>. Take a brave step into the world of Fantasy NHL Hockey by
        making your ideal team and seeing how they stack up against other fans!
    </p>
</div>
<div class="homepage-wrapper">
    <div class="card-wrapper">
        {{#each teams as |team|}}
        {{> team-card team}}
        {{/each}}
    </div>
    <div class="sidebar">
        <h2 style="text-align: center;" class="card-title" >Today's Games</h2>
        <ul>
            <li class="future"><span>Flames</span> @  <span>Senators</span></li>
            <br>
            <li class="future"><span>Wild</span> @  <span>Ducks</span></li>
            <br>
            <li class="future">Sabres @  Penguins</li>
            <br>
            <li class="future">Kings  @  Sharks</li>
            <br>
            <li class="future">Jets   @  Canuks</li>
            <br>
            <li class="future">Oilers @  Canadiens</li>

        </ul>


    </div>
</div>

<script src="/javascript/home.js" async=false defer=false></script>
<script src="/javascript/homeMath.js"></script>