{{#if loggedIn}}
<div class="content-block" id="warning-no-team">
    <p>
        Before you start playing and seeing where you rank, make sure to visit your <a href="/profile">Profile Page</a>
        to
        select the players that will score you big this fantasy season!
    </p>
</div>
{{/if}}
<div class="content-block">
    <p>
        Welcome to <span class="dangles">Dangles</span>. Take a brave step into the world of Fantasy NHL Hockey by
        making your ideal team and seeing how they stack up against other fans!
    </p>
</div>
<div class="homepage-wrapper">
    <div class="card-wrapper">
        {{#each teams as |team|}}
        {{> team-card team}}
        {{/each}}
    </div>
    <div class="sidebar">

        <div>
            <h2 style="text-align: center;" class="card-title">Today's Games</h2>
            <h4 id="currentDay"></h4>
        </div>

        <div id="game-card" class="future">
        </div>
    </div>
</div>
<script src="/javascript/home.js" async=false defer=false></script>
<script src="/javascript/homeMath.js"></script>
<script src="/javascript/player-stats.js"></script>
<script src="/javascript/schedule.js"></script>