<h1>Leader board</h1>
<div class="content-block">
    <p>
        Check to see how your team performed against the others!
    </p>
</div>


<table class="score-table">
    <tr>
        <th>Team Name</th>
        <th>Score</th>
    </tr>
    <tr>
        <td>Dropping Klefboms</td>
        <td>19</td>
    </tr>
    <tr>
        <td>Mighty Ducks</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Dzingel Berries</td>
        <td>12</td>
    </tr>
    <tr>
        <td>Bros Before Ahos</td>
        <td>11</td>
    </tr>
    <tr>
        <td>Hard to Yandle</td>
        <td>9</td>
    </tr>
</table>