<h1>Leaderboard</h1>
<div class="content-block">
    <p>
        Check to see how your team performed against the others!
    </p>
</div>


<table class="score-table">
    <tr>
        <th>Terrences Terrors</th>
        <th>427</th>
    </tr>
    <tr>
        <td>Frosty Fighters</td>
        <td>397</td>
    </tr>
    <tr>
        <td>Knuckle Draggers</td>
        <td>383</td>
    </tr>
    <tr>
        <td>Dzingel Berries</td>
        <td>269</td>
    </tr>
    <tr>
        <td>Bros Before Ahos</td>
        <td>255</td>
    </tr>
    <tr>
        <td>Hard to Yandle</td>
        <td>243</td>
    </tr>
</table>