<h1>Login</h1>
<div class="login-wrapper">
    <div class="form-wrapper">
        <form class="login-form" id="login-form">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" id="username-login" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password-login" required>

            <button type="submit">Login</button>
        </form>
        <form class="login-form" id="signup-form">
            <label for="email"><b>Email Address</b></label>
            <input type="email" placeholder="Enter Desired Email" id="email-signup" name="email" required>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Desired Username" id="username-signup" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Desired Password" id="password-signup" name="password" required>

            <button type="submit">Sign Up</button>
        </form>
    </div>
    <script src="/javascript/login.js"></script>
    <script src="/javascript/signup.js"></script>